# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Node.js (si lo usas)
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log
